
<ion-header class="header">
  <ion-toolbar>
    <ion-title>
      Mi Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="container">
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Agenda
    </ion-list-header>

    <ion-item *ngFor="let booking of Bookings" class="user-list">
      <ion-label class="a">
        <h5>
          <ion-icon name="person"></ion-icon> {{booking.name}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{booking.mobile}}
        </p>
        <p>
          <ion-icon name="calendar"></ion-icon> {{booking.date}}
        </p>
        <p>
          <ion-icon name="compass"></ion-icon> {{booking.address}}
        </p>
        <p>
          <ion-icon name="mail"></ion-icon> {{booking.email}}
        </p>
        <p>
          <ion-icon name="bookmarks"></ion-icon> {{booking.description}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-diary', booking.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteBooking(booking.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>